{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Deeva</title>

		<!-- Staticfiles -->
		{% load staticfiles %}

		<!-- Bootstrap Django & CSS -->
		{# Load the tag library for django-bootstrap3 #}
		{% load bootstrap3 %}


		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
		<link href="{% static "css/bootstrap-social.css" %}" rel="stylesheet">
	</head>

	<body>
		<!-- Top Navigation Bar -->
		{% block navbar %}
		{% if not wizard.distraction_free_mode %}


		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#">Deeva<small> a Depot of Evolving Avatars</small></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'experiments:index' %}">
								Home
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'experiments:allExperiments' %}">
								Experiments
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								About
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Documentation
							</a>
						</li>
						
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{% endif %}
		{% endblock %}

		<!-- Main Content -->
		<div class="container mt-3">
		{% block messageblock %}		  
			  {% bootstrap_messages %}
		{% endblock %}
		{% block content %}		  
			  <h1>Empty Template</h1>
			  <p>The template didn't specify a content block or the base template was called directly. Add a content block to display something nice for the user :-)</p>
		{% endblock %}
		</div> <!-- /container -->

  		<!-- Footer after horizontal line -->
  		{% block footer %}
  		{% if not wizard.distraction_free_mode %}
  		<hr>
		<footer class="footer">
			<div class="container">
				<ul class="list-inline text-center text-muted">
					<li>Deeva - Depot of Evolving Avatars &copy; 2013-{% now "Y" %}</li>
					<li><a href="http://slsi.dfki.de/" target="_blank">Sign Language Synthesis and Interaction group</a> at <a href="http://www.mmci.uni-saarland.de" target="_blank">MMCI</a> / <a href="http://www.dfki.de/web" target="_blank">DFKI</a></li>
					<li><a href="">Site Credits / Impressum</a></li>
				</ul>
			</div>
		</footer>
		{% endif %}
		{% endblock %}

		<!-- load scripts in the end jQuery and Bootstrap-->
		<script src="{% static "js/jquery.min.js" %}"></script>

		{# Load Bootstrap JavaScript #}    
		{% bootstrap_javascript %}

		{% block scripts %}
		{% endblock %}	

  	</body>
</html>