{% extends "base.html" %}

{% block content %}

<h2>Site Credits</h2>

<h3>Legal Regulations:</h3>
<ul>
<li>section 5 State Agreement on Media Services</li>
<li>section 55 German Act on Teleservices</li>
</ul>
<h3>Publisher:</h3>
<ul><li>Fabrizio Nunnari, DFKI GmbH, Campus D3.2, Stuhlsatzenhausweg 3, D-66123 Saarbrücken, Deutschland</li>
<li>+49 (0) 681 302 3393</li>
<li>e-mail: deeva at mmci.uni-saarland.de</li></ul>
<h3>Legal Form:</h3>
<ul><li>Section 1 (1) Saarland University law</li>
<li>The university is a body governed by public law</li></ul>
<h3>Authorized Representative:</h3>
<ul><li>The university is legally represented by the president Prof. Dr. Volker Linneweber</li></ul>
<h3>Regulation Authority:</h3>
<ul><li>Saarland State Chancellery</li></ul>
<h3>(Turnover) Sales Tax ID No.:</h3>
<ul><li>DE138117521</li></ul>

<h3>Content liability:</h3>
<ul>
<li>The editors of the webpages make every effort to keep content accurate and up to date</li>
<li>Name of responsible person: Fabrizio Nunnari</li>
<!-- li> Design and Technical Platform <li -->
<li>Software: Apache, DJango</li>
</ul>
<h3>Liability Note / Disclaimer:</h3>
<ul>
<li>Information for questions on liability can be found in the Disclaimer</li>
<li>Despite careful content control we assume no liability fo the content of external links</li>
<li>For the corresponding content of linked pages, their administrators are responsible</li>
<li>We shall not assume any liability neither expressly nor implied for the type or correctness of the material offered</li>
<li>We shall not be liable for the material or use</li>
<li>In case contents of websites violate valid legal regulations, we kindly ask you to inform us immediately</li>
<li>We shall not assume any responsibility or guarantee for information following external links and shall not approve or support such information in terms of contents</li>
<li>We are only liable for our own contents under the general applicable laws</li>
<li>We did neither produce the contents of foreign websites and cannot influence on the contents of website of third parties</li>
<li>We are not liable for references and contributions by users in guest books, discussion forums and mailing lists</li>
</ul>
<h3>Copyright:</h3>
<ul>
<!-- li>copyright and further rights for texts, photographs, artwork lie within XX -->
<li>Further dissemination is allowed provided source is indicated (unless otherwise expressly stated)</li>
<li>Use for commercial purposes shall require approval</li>
<li>None of the materials may be copied, modified or used on other websites</li>
<li>Use is prohibited</li>
</ul>
<h3>Data Protection and IT Safety:</h3>
<ul>
<li>We shall be obliged to protect the private sphere of all persons using our site and to treat confidentially the personal data transmitted to us</li>
<li>The data shall be used exclusively for the purposes indicated and not disclosed to third parites</li>
<li>Your data will be deleted as soon as they will have served the purpose indicated</li>
<li>Possibly your web browser or client software transmits information via your computer to our servers through no fault of your own. Such information shall never be brought directly in connection with you but will only be evaluated in anonymous form</li>
</ul>

{% endblock %}
